@use './partials/variables' as *;

$fa-font-path: "../webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import '~bootstrap/scss/bootstrap';

main{
    height: 100vh;
    overflow-y: scroll;
}

header{
    width: 100%;
    #left-container{
        width: 80%;
    }
    #right-container{
        width: 20%;
    }
    .fa-train{
        font-size: 1.5em;
        padding-left: 100px;
    }
}


